<a href="https://colab.research.google.com/github/Sudeshna99/Python-Practice/blob/master/Getting_and_Knowing_the_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is for practising Pandas exercises

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

Step 2. Import the dataset from this address (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)

Step 3. Assign it to a variable called chipo.

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

Step 4. See the first 10 entries

In [0]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

Step 5. What is the number of observations in the dataset?

1st way

In [0]:
chipo.shape[0]

4622

2nd way

In [0]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Step 6. What is the number of columns in the dataset?

In [0]:
chipo.shape[1]

5

Step 7. Print the name of all the columns.

In [0]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step 8. How is the dataset indexed?

In [0]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?

In [0]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

Step 10. For the most-ordered item, how many items were ordered?

In [0]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

Step 11. What was the most ordered item in the choice_description column?

In [0]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

Step 12. How many items were orderd in total?

In [0]:
total_item_orders = chipo.quantity.sum()
total_item_orders

4972

Step 13. Turn the item price into a float

Step 13.a. Check the item price type

In [0]:
chipo.item_price.dtype

dtype('O')

Step 13.b. Create a lambda function and change the type of item price

In [0]:
dollarizer = lambda x: float (x[1: -1])
chipo.item_price = chipo.item_price.apply(dollarizer)

Step 13.c. Check the item price type

In [0]:
chipo.item_price.dtype

dtype('float64')

Step 14. How much was the revenue for the period in the dataset?

In [0]:
revenue = (chipo['quantity']*chipo['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

Step 15. How many orders were made in the period?

In [0]:
orders = chipo.order_id.value_counts().count()
orders

1834

Step 16. What is the average revenue amount per order?

In [44]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

Step 17. How many different items are sold?

In [51]:
chipo.item_name.value_counts().count()

50